{% extends 'movie/index.html' %}
{% load embed_video_tags %}
{% block page_content %}
<div class="container">
    {% block widgets %}
    {{ block.super }}
    {% endblock widgets %}
</div>
{% block main_content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for news in news_list %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'news:detail' news.id %}">{{ news.title }}</a></h2>
                <p class="blog-post-meta">{{ news.publish_date }}</p>
                <p>{{ news.content | truncatewords:20 }}</p>
            </div><!-- /.blog-post -->
            {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
              {% block sidebar %}
                    {{ block.super }}
              {% endblock %}
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock main_content %}
    {% endblock page_content %}
