{% extends 'movie/index.html' %}
{% block page_content %}
<div class="container">
    {% block widgets %}
        {{ block.super }}
    {% endblock widgets %}
    {% block main_content %}
    {% endblock main_content %}
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h1>{{ user.username }}</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Simpan Perubahan</button>
            </form>
        </div>
        <aside class="col-md-4 blog-sidebar">
            {% block sidebar %}
                <div class="p-3">
                    <h4 class="font-italic">Basisdata</h4>
                    <ol class="list-unstyled">
                        <li><a href="{% url 'movie:new_movie' %}">Tambah film</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            {% endblock sidebar %}
        </aside>
    </div>
</main>
{% endblock page_content %}
