{% extends 'movie/index.html' %}
{% load embed_video_tags %}
{% block page_content %}
<div class="container">
    {% block widgets %}
    {{ block.super }}
    {% endblock widgets %}
</div>
{% block main_content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for actor in actor_list %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'movie:actor_detail' actor.id %}">{{ actor.name }}</a></h2>
                <p class="blog-post-meta">{{ actor.birth_of_date }}</p>
            </div><!-- /.blog-post -->
            {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
              {% block sidebar %}
              {% endblock %}
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock main_content %}
    {% endblock page_content %}
