{% extends 'movie/index.html' %}
{% load static embed_video_tags crispy_forms_tags %}
{% block page_content %}
    <div class="container">
        {% block widgets %}
        {{ block.super }}
        {% endblock widgets %}
        {% block main_content %}
      <div class="blog-header">
        <h1 class="blog-title">{{ movie.title }}</h1>
        <p class="lead blog-description">{{ movie.release_date }}</p>
      </div>

    </div><!-- /.container -->
    <main role="main" class="container">
          <div class="row">
              <div class="col-md-8 blog-main">
                  <div class="blog-post">
                      <h2>Data Film Baru</h2>
                      <form class="form" action="" method="post">{% csrf_token %}
                          {{ form|crispy }}
                          <input class="btn btn-primary" type="submit" value="Simpan">
                      </form>
                  </div><!-- /.blog-post -->
              </div>
              <aside class="col-md-4 blog-sidebar">
                  {% block sidebar %}
                    <div class="p-3">
                        <h4 class="font-italic">Basisdata</h4>
                        <ol class="list-unstyled">
                            <li><a href="{% url 'movie:new_movie' %}">Tambah film</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                  {% endblock %}
              </aside>

          </div>

        </main>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock main_content %}
{% endblock page_content %}
