{% extends 'movie/index.html' %}
{% load static embed_video_tags %}
{% block page_content %}
    <div class="container">
        {% block widgets %}
        {{ block.super }}
        {% endblock widgets %}
        {% block main_content %}
      <div class="blog-header">
        <h1 class="blog-title">{{ movie.title }}</h1>
        <p class="lead blog-description">{{ movie.release_date }}</p>
      </div>

    </div><!-- /.container -->
    <main role="main" class="container">
          <div class="row">
              <div class="col-md-8 blog-main">
                  <div class="blog-post">
                      {% video movie.video 'tiny' %}
                    <table>
                        <tr><th>Rumah produksi</th><td>&nbsp;</td><td>{{ movie.production_house }}</td></tr>
                        <tr><th>Tanggal mulai tayang</th><td>&nbsp;</td><td>{{ movie.release_date }}</td></tr>
                        {% for credit in movie.credit_set.all %}
                            <tr><th>{{ credit.role }}</th><td>&nbsp;</td><td>{{ credit.name }}</td></tr>
                        {% endfor %}
                    </table>
                      <hr>
                    <h2>Pemain</h2>
                      <table>
                          {% for cast in movie.cast_set.all %}
                          <tr><td>{{ cast.actor }}</td><td> -> </td><td>{{ cast.play_as }}</td></tr>
                          {% endfor %}
                      </table>
                  </div><!-- /.blog-post -->
              </div>
              <aside class="col-md-4 blog-sidebar">
                  {% block sidebar %}
                        {{ block.super }}
                  {% endblock %}
              </aside>

          </div>

        </main>
{% endblock main_content %}
{% endblock page_content %}
